{% extends 'layout.html' %}


{% block body %}

  <div class="container shadow-lg">
    <h2>
      Tiny URLS
    </h2>
      <form method="POST" action="">
        <div class="form-group">
          <label for="exampleInputEmail1"> URL original</label>
          <input type="text" class="form-control" name="id"  placeholder="¡Ingrese su URL para acortarla!">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Custom ID</label>
          <input type="text" class="form-control" name="libro"  placeholder="Personaliza tu URL">
        </div>
         <button type="submit" class="btn btn-primary">¡Hacer Tiny!</button>
      </form>
    </div>


{% endblock %}