{% extends 'layout.html' %}


{% block body %}

  <script>
  function myFunction() {
    var copyText = document.getElementById("myInput");
    copyText.select();
    copyText.setSelectionRange(0, 99999)
    document.execCommand("copy");
    alert("Copied the text: " + copyText.value);
  }
  </script>

  <div class="container shadow-lg">
    <h2>
      Tiny URLS
    </h2>
      <form method="POST" action="/crear">
        <div class="form-group">
          <label for="exampleInputEmail1"> URL original</label>
          <input type="url" class="form-control" name="url" pattern="https?://.+" required  placeholder="¡Ingrese su URL para acortarla!" required>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Personaliza tu URL</label>
          <input type="text" class="form-control" onclick="this.select()"  name="customid" value= "{{randomid}}" placeholder="Personaliza tu URL" required>
        </div>
         <button type="submit" style="background-color: #0099CC;" class="btn btn-primary">¡Hacer Tiny!</button>
      </form>
      
      {% if -1 == banderaExito %}
      <div class="form-group">
          <label for="exampleInputEmail1">Resultado</label>
          <input type="text" class="form-control" name="url"  value="http://127.0.0.1:5000/{{ultimakey}}" id="myInput" readonly>
      </div>
      <button class="btn btn-primary" style="background-color: #0099CC;" onclick="myFunction()">Copy text</button>
      {% endif%}

      {% if 1 == banderaExito %}
      <div class="form-group">
          <label for="exampleInputEmail1">Resultado</label>
          <input type="text" class="form-control"  name="url"  value="Error, custom ID ya existe" id="myInput" readonly>
      </div>
      {% endif%}

    </div>
{% endblock %}