{% extends 'layout.html' %}


{% block body %}
  <div class="shadow-lg container" style="align-items: center; justify-content: center;">
    <h2>
      URL List
    </h2>
    <table class="table" >
      <thead>
      <tr>
        Tiny Url
        </tr>
        <tr>
          URL Original
          </tr>
        </thead>
        <tbody>
          
          <tr>
            <th> 1</th>
            <th>2 </th>
            <th>delete </th>
           
          </tr>
      </tbody>
    </table>
    </div> 
 {% endblock %}