{% extends 'layout.html' %}


{% block body %}
  <div style="align-items: center; justify-content: center; padding-top: 5vh !important;
  padding-right: 20vh !important;
  padding-bottom: 5vh !important;
  padding-left: 20vh !important;">
    <h2>
      Statistics
    </h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Tiny URL</th>
          <th scope="col">URL Original</th>
          <th scope="col">Fecha y hora creada</th>
          <th scope="col"> Visitas </th>
        </tr>
      </thead>
      <tbody>
        {% for k,v in diccionario.items(): %}
          <tr>
            <td><a href = "{{base_url}}{{k}}"  target=”_blank” >{{base_url}}{{k}}</a></td>
            <input type="hidden"  name="customid" value="{{k}}">
            <td>{{v["URL"]}}</td>
            <td>{{v["hora"]}}</td>
            <td>{{v["visitas"]}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    </div> 
 {% endblock %}